QMainWindow {
    background-color: qconicalgradient(cx:0.5, cy:0.5, angle:0, stop:0 rgba(30,144,255, 255), stop:0.19 rgba(135,206,250, 255), stop:0.38 rgba(135,206,235, 255), stop:0.57 rgba(0,191,255, 255),stop:0.71 rgba(173,216,230, 255),stop:0.82 rgba(100,149,237, 255) stop:1 rgba(30,144,255,255));
}
QStackedWidget#stackedWidget {
    border: 2px groove gray;
    border-radius: 10px;
    background-color: qlineargradient(x1:1,y1:0,x2:0,y2:0,stop:0 rgba(65,105,225,100),stop:1 rgba(100,149,237,110));
}
QListWidget {
    outline: 0px;
    border: 2px groove gray;
    /* border-radius: 10px; */
    background: transparent;
}
QListWidget::item {
    color: rgb(15, 10, 20);
    height: 30px;
    background: transparent;
}
QListWidget::item::selected {
    color: rgb(0, 0, 255);
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0 rgba(255, 235, 235, 206), stop:0.35 rgba(255, 188, 188, 80), stop:0.4 rgba(255, 162, 162, 80), stop:0.425 rgba(255, 132, 132, 156), stop:0.44 rgba(252, 128, 128, 80), stop:1 rgba(255, 255, 255, 0));
}
/*QTableWidget {
    font: normal 20px "Consolas";
}*/
QHeaderView#hHeader::section {
    color: rgb(15, 128, 0);
    font: 16px "Microsoft YaHei";
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    border: 1px solid #B2B6B9;
    border-width: 0px 1px 1px 0px;
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F2F3F4,stop:1 #E7E9EB);
}
#widgetTool {
    border: 1px solid rgba(255, 255, 255, 160);
}
QFrame#framePlayTool {
    border-top: 1px solid rgb(110, 108, 108);
}
QFrame#frameSongMsg {
    background-color: rgba(241, 217, 181, 50);
    /* border-top: 1px solid rgb(110, 108, 108); */
    border-radius: 3px;
}
QTabWidget#tabWidgetTool QTabBar::tab {
    min-width: 280px;
    min-height: 30px;
} 
/* QTabWidget#tabWidgetTool QTabBar::tab:selected {
    color: darkblue;
    border: 1px groove rgba(110, 108, 108, 150);
    border-width: 1px 1px 0px 1px;
    background-color: rgb(180, 205, 245);
} */
QTabWidget#tabWidgetTool, QTabWidget#tabWidgetTool .QWidget {
/*    background-color: rgb(180, 205, 245);*/
}
QSlider#hSliderProgress {
    background: transparent;
}
QSlider#hSliderProgress::groove:horizontal {
    height: 4px;
    background-color: rgba(138, 152, 163, 150);
}
QSlider#hSliderProgress::handle:horizontal {
    width: 10px;
    height: 10px;
    margin: -6px 0px -6px 0px;
    border-radius: 8px;
    border: 3px solid rgb(221, 221, 221);
    background-color: rgb(0, 66, 114); 
}
QSlider#hSliderProgress::sub-page:horizontal {                               
    background-color: rgb(24, 74, 112);                     
}
/* QSlider#hSliderProgress::add-page:horizontal {
    background-color: rgb(255, 0, 0);
} */
QSlider#sliderVol::groove:horizontal {
    height: 4px;
    background-color: rgba(138, 152, 163, 150);
}
QSlider#sliderVol::handle:horizontal {	
    width: 6px;
    height: 8px;
    margin: -6px 0px -6px 0px;
    border-radius: 8px;
    background-color: rgb(0, 66, 114); 
}
QSlider#sliderVol::sub-page:horizontal {                               
    background-color: rgb(24, 74, 112);                     
}
